.header_nav{
    display: inline;
}

.header_nav nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    vertical-align: top;
    float: right;
    padding: 5px 15px 0 0;
    margin-right: 10px;
}

.header_nav nav svg{
    font-size: 25px;
}


.header_nav nav a{
     vertical-align: top;
     text-align: right;
     padding: 10px;
     letter-spacing: 1px;
     text-decoration: none;
     text-transform: capitalize;
     color: #424242;
     transition: 0.3s;
 }

.header_nav nav a:hover{
     color: #de2b24;
 }

.header_nav nav svg:hover{
    cursor: pointer;
    font-size: 28px;
}

.contact_menu{
    display: flex;
    float: right;
    padding: 5px;
    margin-right: 15px;
    font-size: 23px;
    transition: font-size 5s ease;

}

.contact_menu svg:hover{
    cursor: pointer;
    font-size: 28px;
}

.contact_menu svg{
    margin-right: 8px;
}