.Button{
    border-radius: 5px;
    color: #000000;
    font-size: 21px;
    margin: -7px 0 4px 3%;
    background: none;
}

.Button:hover{
    text-decoration: underline;
}

.forgotPassword{
    float: right;
    border: none;
    color: #424242;
    font-size: 16px;
    padding: 0;
    margin: -7px 5px 0 0;
    background: none;
    color: red;

}

.forgotPassword:hover{
    text-decoration: underline;
}

.btn_reg{
    width: 90%;
}
