.header_menu{


}

.logo__picture{
    width: 170px;
    height: 150px;
}

.header__top{


}

.header__bottom{

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -60px;
    padding: 0 5px;
}
